<a href="https://colab.research.google.com/github/Yigael-Laloum/DS20_weather/blob/main/%D7%94%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98_%D7%94%D7%A9%D7%A0%D7%99_DS20_(Train%2BValid).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# הפרוייקט השני DS20

### EDA to compare Train to Valid

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
from sklearn.model_selection import train_test_split

### upload the files and make sure there is no nulls 'saledate'

In [ ]:
df_train = pd.read_csv('Train.csv', low_memory = False)

In [ ]:
df_valid = pd.read_csv('Valid.csv', low_memory = False)

In [ ]:
print("missing 'saledate' values in df_train_valid[saledate]: " , df_valid['saledate'].isnull().sum())
print("missing 'saledate' values in df_train[saledate]: " , df_train['saledate'].isnull().sum())

missing 'saledate' values in df_train_valid[saledate]:  0
missing 'saledate' values in df_train[saledate]:  0

### check nulls

In [ ]:
df_train.isnull().sum()

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    258360
UsageBand                   331486
saledate                         0
fiModelDesc                      0
fiBaseModel                      0
fiSecondaryDesc             137191
fiModelSeries               344217
fiModelDescriptor           329206
ProductSize                 210775
fiProductClassDesc               0
state                            0
ProductGroup                     0
ProductGroupDesc                 0
Drive_System                296764
Enclosure                      325
Forks                       209048
Pad_Type                    321991
Ride_Control                252519
Stick                       321991
Transmission                217895
Turbocharged                321991
Blade_Extension             375906
Blade_Width                 375906
Enclosure_Type              375906
Engine_Horsepower           375906
Hydraulics                   80555
Pushblock                   375906
Ripper                      296988
Scarifier                   375895
Tip_Control                 375906
Tire_Size                   306407
Coupler                     187173
Coupler_System              357667
Grouser_Tracks              357763
Hydraulics_Flow             357763
Track_Type                  301972
Undercarriage_Pad_Width     301253
Stick_Length                301907
Thumb                       301837
Pattern_Changer             301907
Grouser_Type                301972
Backhoe_Mounting            322453
Blade_Type                  321292
Travel_Controls             321291
Differential_Type           331714
Steering_Controls           331756
dtype: int64

In [ ]:
len(df_train)

401125

In [ ]:
print(df_train.dtypes)

SalesID                       int64
SalePrice                     int64
MachineID                     int64
ModelID                       int64
datasource                    int64
auctioneerID                float64
YearMade                      int64
MachineHoursCurrentMeter    float64
UsageBand                    object
saledate                     object
fiModelDesc                  object
fiBaseModel                  object
fiSecondaryDesc              object
fiModelSeries                object
fiModelDescriptor            object
ProductSize                  object
fiProductClassDesc           object
state                        object
ProductGroup                 object
ProductGroupDesc             object
Drive_System                 object
Enclosure                    object
Forks                        object
Pad_Type                     object
Ride_Control                 object
Stick                        object
Transmission                 object
Turbocharged                 object
Blade_Extension              object
Blade_Width                  object
Enclosure_Type               object
Engine_Horsepower            object
Hydraulics                   object
Pushblock                    object
Ripper                       object
Scarifier                    object
Tip_Control                  object
Tire_Size                    object
Coupler                      object
Coupler_System               object
Grouser_Tracks               object
Hydraulics_Flow              object
Track_Type                   object
Undercarriage_Pad_Width      object
Stick_Length                 object
Thumb                        object
Pattern_Changer              object
Grouser_Type                 object
Backhoe_Mounting             object
Blade_Type                   object
Travel_Controls              object
Differential_Type            object
Steering_Controls            object
dtype: object

#### **from 'Train'** delete column "ProductGroupDesc" because its the same values as "ProductGroup" and 'fiModelDesc' because its aggrigate fiBasemodel + fiModelseries  + fiSecondarydescription

In [ ]:
df_train = df_train.drop(columns=['ProductGroupDesc', 'fiModelDesc'])

**from 'Valid'** delete column "ProductGroupDesc" because its the same values as "ProductGroup" and 'fiModelDesc' because its aggrigate fiBasemodel + fiModelseries + fiSecondarydescription

In [ ]:
df_valid = df_valid.drop(columns=['ProductGroupDesc', 'fiModelDesc'])

### **at 'Train'** cahnge "UsageBand" column to Categorical type with Categorical codes

In [ ]:
df_train["UsageBand"]=df_train["UsageBand"].astype('category')
df_train["UsageBand"]=pd.Categorical(df_train["UsageBand"], categories=["Low", "Medium", "High"], ordered = True)
df_train["UsageBand"]=df_train.UsageBand.cat.codes

### **at 'Train'** transform "UsageBand" from object type to Categorical type and ordr from low to high

In [ ]:
df_train["UsageBand"].unique()

array([ 0,  2,  1, -1], dtype=int8)

In [ ]:
df_train["UsageBand"]=df_train["UsageBand"].astype('category')

### **at 'Valid'** cahnge "UsageBand" column to Categorical type with Categorical codes

In [ ]:
df_valid["UsageBand"]=df_valid["UsageBand"].astype('category')
df_valid["UsageBand"]=pd.Categorical(df_valid["UsageBand"], categories=["Low", "Medium", "High"], ordered = True)
df_valid["UsageBand"]=df_valid.UsageBand.cat.codes

**at 'Valid'** transform "UsageBand" from object type to Categorical type and ordr from low to high

In [ ]:
df_valid["UsageBand"].unique()

array([-1,  1,  0,  2], dtype=int8)

In [ ]:
df_valid["UsageBand"]=df_valid["UsageBand"].astype('category')

**at 'Train'** cahnge "saledate" column to 'datetime' type

**at 'Train**' Convert the saledate column in a pandas DataFrame (df_train) to datetime format and extract temporal components (year, month, day, weekday, hour) into new columns.

In [ ]:
df_train["saledate"] = pd.to_datetime(
    df_train["saledate"].astype(str).str.strip(),
    format="%m/%d/%Y %H:%M",
    errors="raise"
)


df_train["year"] = df_train["saledate"].dt.year
df_train["month"] = df_train["saledate"].dt.month
df_train["day"] = df_train["saledate"].dt.day
df_train["weekday"] = df_train["saledate"].dt.weekday
df_train["hour"] = df_train["saledate"].dt.hour

**at 'Valid'** Convert the saledate column in a pandas DataFrame (df_train) to datetime format and extract temporal components (year, month, day, weekday, hour) into new columns.

In [ ]:
df_valid["saledate"] = pd.to_datetime(
    df_valid["saledate"].astype(str).str.strip(),
    format="%m/%d/%Y %H:%M",
    errors="raise"
)

df_valid["year"] = df_valid["saledate"].dt.year
df_valid["month"] = df_valid["saledate"].dt.month
df_valid["day"] = df_valid["saledate"].dt.day
df_valid["weekday"] = df_valid["saledate"].dt.weekday
df_valid["hour"] = df_valid["saledate"].dt.hour

### **at Train** - delete 'saledate' columns - we dont need it

In [ ]:
df_train = df_train.drop(columns='saledate')

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 55 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 401125 non-null  category
 9   fiBaseModel               401125 non-null  object
 10  fiSecondaryDesc           263934 non-null  object
 11  fiModelSeries             56908 non-null   object
 12  fiModelDescriptor         71919 non-null   object
 13  ProductSize               190350 non-null  object
 14  fiProductClassDesc        401125 non-null  object
 15  state                     401125 non-null  object
 16  ProductGroup              401125 non-null  object
 17  Drive_System              104361 non-null  object
 18  Enclosure                 400800 non-null  object
 19  Forks                     192077 non-null  object
 20  Pad_Type                  79134 non-null   object
 21  Ride_Control              148606 non-null  object
 22  Stick                     79134 non-null   object
 23  Transmission              183230 non-null  object
 24  Turbocharged              79134 non-null   object
 25  Blade_Extension           25219 non-null   object
 26  Blade_Width               25219 non-null   object
 27  Enclosure_Type            25219 non-null   object
 28  Engine_Horsepower         25219 non-null   object
 29  Hydraulics                320570 non-null  object
 30  Pushblock                 25219 non-null   object
 31  Ripper                    104137 non-null  object
 32  Scarifier                 25230 non-null   object
 33  Tip_Control               25219 non-null   object
 34  Tire_Size                 94718 non-null   object
 35  Coupler                   213952 non-null  object
 36  Coupler_System            43458 non-null   object
 37  Grouser_Tracks            43362 non-null   object
 38  Hydraulics_Flow           43362 non-null   object
 39  Track_Type                99153 non-null   object
 40  Undercarriage_Pad_Width   99872 non-null   object
 41  Stick_Length              99218 non-null   object
 42  Thumb                     99288 non-null   object
 43  Pattern_Changer           99218 non-null   object
 44  Grouser_Type              99153 non-null   object
 45  Backhoe_Mounting          78672 non-null   object
 46  Blade_Type                79833 non-null   object
 47  Travel_Controls           79834 non-null   object
 48  Differential_Type         69411 non-null   object
 49  Steering_Controls         69369 non-null   object
 50  year                      401125 non-null  int32
 51  month                     401125 non-null  int32
 52  day                       401125 non-null  int32
 53  weekday                   401125 non-null  int32
 54  hour                      401125 non-null  int32
dtypes: category(1), float64(2), int32(5), int64(6), object(41)
memory usage: 158.0+ MB

### **at Valid** - delete 'saledate' columns - we dont need it

In [ ]:
df_valid = df_valid.drop(columns='saledate')

In [ ]:
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 54 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  category
 8   fiBaseModel               11573 non-null  object
 9   fiSecondaryDesc           8037 non-null   object
 10  fiModelSeries             1759 non-null   object
 11  fiModelDescriptor         2897 non-null   object
 12  ProductSize               5743 non-null   object
 13  fiProductClassDesc        11573 non-null  object
 14  state                     11573 non-null  object
 15  ProductGroup              11573 non-null  object
 16  Drive_System              2726 non-null   object
 17  Enclosure                 11564 non-null  object
 18  Forks                     5638 non-null   object
 19  Pad_Type                  1962 non-null   object
 20  Ride_Control              4122 non-null   object
 21  Stick                     1962 non-null   object
 22  Transmission              4777 non-null   object
 23  Turbocharged              1962 non-null   object
 24  Blade_Extension           764 non-null    object
 25  Blade_Width               764 non-null    object
 26  Enclosure_Type            764 non-null    object
 27  Engine_Horsepower         764 non-null    object
 28  Hydraulics                9563 non-null   object
 29  Pushblock                 764 non-null    object
 30  Ripper                    2808 non-null   object
 31  Scarifier                 764 non-null    object
 32  Tip_Control               764 non-null    object
 33  Tire_Size                 2920 non-null   object
 34  Coupler                   6727 non-null   object
 35  Coupler_System            1516 non-null   object
 36  Grouser_Tracks            1513 non-null   object
 37  Hydraulics_Flow           1513 non-null   object
 38  Track_Type                3040 non-null   object
 39  Undercarriage_Pad_Width   3044 non-null   object
 40  Stick_Length              3043 non-null   object
 41  Thumb                     3044 non-null   object
 42  Pattern_Changer           3043 non-null   object
 43  Grouser_Type              3040 non-null   object
 44  Backhoe_Mounting          2040 non-null   object
 45  Blade_Type                2042 non-null   object
 46  Travel_Controls           2043 non-null   object
 47  Differential_Type         2153 non-null   object
 48  Steering_Controls         2153 non-null   object
 49  year                      11573 non-null  int32
 50  month                     11573 non-null  int32
 51  day                       11573 non-null  int32
 52  weekday                   11573 non-null  int32
 53  hour                      11573 non-null  int32
dtypes: category(1), float64(1), int32(5), int64(6), object(41)
memory usage: 4.5+ MB

### check object/string columns

In [ ]:
object_columns = df_train.columns[df_train.dtypes == 'object'].tolist()
print("object_columns = " , object_columns)

object_columns =  ['fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries', 'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls', 'Differential_Type', 'Steering_Controls']

In [ ]:
for i in object_columns:

    print(df_train[i].value_counts())

fiBaseModel
580      19798
310      17354
D6       13110
416      12687
D5        9342
         ...
ZX17         1
UH171        1
UH053        1
KZ65         1
HW180        1
Name: count, Length: 1950, dtype: int64
fiSecondaryDesc
C                43235
B                39203
G                36424
H                24050
E                21048
                 ...
MC                   1
LC7LR                1
-6                   1
 MSR SPIN ACE        1
NLC                  1
Name: count, Length: 175, dtype: int64
fiModelSeries
II           13202
LC            8936
III           5238
-1            4591
-2            3952
             ...
WT               1
7L               1
Q                1
ZHS              1
FASTRRACK        1
Name: count, Length: 122, dtype: int64
fiModelDescriptor
L           15875
LGP         15558
LC          12750
XL           6434
6            2885
            ...
III             1
HighLift        1
4x4x4           1
VHP/AWD         1
K3              1
Name: count, Length: 139, dtype: int64
ProductSize
Medium            62274
Large / Medium    49678
Small             26494
Mini              24840
Large             20975
Compact            6089
Name: count, dtype: int64
fiProductClassDesc
Backhoe Loader - 14.0 to 15.0 Ft Standard Digging Depth             56166
Track Type Tractor, Dozer - 20.0 to 75.0 Horsepower                 17788
Wheel Loader - 150.0 to 175.0 Horsepower                            15114
Track Type Tractor, Dozer - 85.0 to 105.0 Horsepower                14731
Hydraulic Excavator, Track - 21.0 to 24.0 Metric Tons               13323
                                                                    ...
Hydraulic Excavator, Track - Unidentified (Compact Construction)       38
Wheel Loader - 1000.0 + Horsepower                                     25
Hydraulic Excavator, Track - 150.0 to 300.0 Metric Tons                21
Hydraulic Excavator, Track - 300.0 + Metric Tons                        1
Motorgrader - Unidentified                                              1
Name: count, Length: 74, dtype: int64
state
Florida           63944
Texas             51682
California        29019
Washington        15955
Georgia           14309
Maryland          12965
Mississippi       12961
Ohio              12190
Colorado          11254
Illinois          11209
New Jersey        10882
North Carolina    10404
Tennessee         10027
Alabama            9997
Pennsylvania       9941
South Carolina     9794
Arizona            9173
New York           8604
Connecticut        8128
Minnesota          7734
Missouri           6961
Nevada             6693
Louisiana          6450
Kentucky           5278
Maine              5095
Indiana            4086
Arkansas           3869
New Mexico         3529
Utah               2895
Unspecified        2801
New Hampshire      2724
Wisconsin          2668
Virginia           2288
Idaho              2018
Oregon             1775
Michigan           1763
Wyoming            1662
Montana            1327
Oklahoma           1311
Iowa               1215
West Virginia       746
Nebraska            722
Kansas              659
Delaware            509
Alaska              430
North Dakota        410
Massachusetts       328
Vermont             300
South Dakota        203
Hawaii              118
Rhode Island         82
Puerto Rico          36
Washington DC         2
Name: count, dtype: int64
ProductGroup
TEX    101167
TTT     80520
BL      79415
WL      71046
SSL     43488
MG      25489
Name: count, dtype: int64
Drive_System
Two Wheel Drive     46139
Four Wheel Drive    32996
No                  24428
All Wheel Drive       798
Name: count, dtype: int64
Enclosure
OROPS                  173932
EROPS                  139026
EROPS w AC              87820
EROPS AC                   17
NO ROPS                     3
None or Unspecified         2
Name: count, dtype: int64
Forks
None or Unspecified    178300
Yes                     13777
Name: count, dtype: int64
Pad_Type
None or Unspecified    70614
Reversible              5832
Street                  2663
Grouser                   25
Name: count, dtype: int64
Ride_Control
No                     77685
None or Unspecified    63116
Yes                     7805
Name: count, dtype: int64
Stick
Standard    48829
Extended    30305
Name: count, dtype: int64
Transmission
Standard               140328
None or Unspecified     23147
Powershift              11731
Powershuttle             4244
Hydrostatic              3204
Direct Drive              418
Autoshift                 114
AutoShift                  44
Name: count, dtype: int64
Turbocharged
None or Unspecified    75211
Yes                     3923
Name: count, dtype: int64
Blade_Extension
None or Unspecified    24692
Yes                      527
Name: count, dtype: int64
Blade_Width
14'                    9615
None or Unspecified    9283
12'                    4968
16'                     933
13'                     329
<12'                     91
Name: count, dtype: int64
Enclosure_Type
None or Unspecified    21923
Low Profile             2510
High Profile             786
Name: count, dtype: int64
Engine_Horsepower
No          23937
Variable     1282
Name: count, dtype: int64
Hydraulics
2 Valve                141404
Standard               104423
Auxiliary               40737
Base + 1 Function       24770
3 Valve                  5622
4 Valve                  2960
Base + 3 Function         299
Base + 2 Function         127
Base + 5 Function          89
Base + 4 Function          76
Base + 6 Function          53
None or Unspecified        10
Name: count, dtype: int64
Pushblock
None or Unspecified    19463
Yes                     5756
Name: count, dtype: int64
Ripper
None or Unspecified    83452
Yes                     7902
Multi Shank             7633
Single Shank            5150
Name: count, dtype: int64
Scarifier
None or Unspecified    12719
Yes                    12511
Name: count, dtype: int64
Tip_Control
None or Unspecified    16207
Sideshift & Tip         7070
Tip                     1942
Name: count, dtype: int64
Tire_Size
None or Unspecified    46339
20.5                   15242
14"                     8813
23.5                    8480
26.5                    4482
17.5                    3932
29.5                    2704
17.5"                   1793
13"                      766
20.5"                    718
15.5                     607
15.5"                    457
23.5"                    302
7.0"                      52
23.1"                     20
10"                        8
10 inch                    3
Name: count, dtype: int64
Coupler
None or Unspecified    184582
Manual                  23301
Hydraulic                6069
Name: count, dtype: int64
Coupler_System
None or Unspecified    40430
Yes                     3028
Name: count, dtype: int64
Grouser_Tracks
None or Unspecified    40515
Yes                     2847
Name: count, dtype: int64
Hydraulics_Flow
Standard               42784
High Flow                553
None or Unspecified       25
Name: count, dtype: int64
Track_Type
Steel     84880
Rubber    14273
Name: count, dtype: int64
Undercarriage_Pad_Width
None or Unspecified    79651
32 inch                 5213
28 inch                 3114
24 inch                 2962
20 inch                 2652
30 inch                 1592
36 inch                 1519
18 inch                 1429
34 inch                  531
16 inch                  460
31 inch                  184
27 inch                  143
22 inch                  133
26 inch                   97
33 inch                   91
14 inch                   49
15 inch                   33
25 inch                   17
31.5 inch                  2
Name: count, dtype: int64
Stick_Length
None or Unspecified    78820
9' 6"                   5765
10' 6"                  3456
11' 0"                  1577
9' 10"                  1439
9' 8"                   1434
9' 7"                   1401
12' 10"                 1066
10' 2"                   983
8' 6"                    901
8' 2"                    606
10' 10"                  404
12' 8"                   317
11' 10"                  299
8' 4"                    271
8' 10"                   103
9' 5"                    101
12' 4"                    97
15' 9"                    84
6' 3"                     50
13' 7"                    10
14' 1"                     7
13' 9"                     7
13' 10"                    6
19' 8"                     5
7' 10"                     3
15' 4"                     3
24' 3"                     2
9' 2"                      1
Name: count, dtype: int64
Thumb
None or Unspecified    83093
Manual                  9358
Hydraulic               6837
Name: count, dtype: int64
Pattern_Changer
None or Unspecified    90255
Yes                     8898
No                        65
Name: count, dtype: int64
Grouser_Type
Double    84653
Triple    14498
Single        2
Name: count, dtype: int64
Backhoe_Mounting
None or Unspecified    78652
Yes                       20
Name: count, dtype: int64
Blade_Type
PAT                    38612
Straight               13323
None or Unspecified    11431
Semi U                  8617
VPAT                    3547
U                       1862
Angle                   1662
No                       743
Landfill                  25
Coal                      11
Name: count, dtype: int64
Travel_Controls
None or Unspecified    69923
Differential Steer      4879
Finger Tip              2624
2 Pedal                 1142
Lever                    840
Pedal                    416
1 Speed                   10
Name: count, dtype: int64
Differential_Type
Standard        68073
Limited Slip     1130
No Spin           206
Locking             2
Name: count, dtype: int64
Steering_Controls
Conventional           68679
Command Control          537
Four Wheel Standard      138
Wheel                     14
No                         1
Name: count, dtype: int64

### **at Train** removing object/string columns

In [ ]:
df_train = df_train.drop(columns=object_columns)  # i will handle categorical data later

### **at Valid** removing object/string columns

In [ ]:
df_valid = df_valid.drop(columns=object_columns)  # i will handle categorical data later

## BOX PLOT

In [ ]:
# df_train.plot(kind='box',subplots=True,figsize=(12,12),sharex=False,sharey=False)

In [ ]:
# for i in X.columns:
#    plt.figure(figsize=(12,6))
#    print(sns.boxplot(X[i]))

In [ ]:
# sns.boxplot(X["YearMade"])

#### outlayers

In [ ]:
# X=X[X["YearMade"]>1940]

In [ ]:
# sns.boxplot(X["YearMade"])

### initial the model

In [ ]:
X = df_train.drop(columns='SalePrice')
y = df_train['SalePrice']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 320900 entries, 174860 to 121958
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   320900 non-null  int64
 1   MachineID                 320900 non-null  int64
 2   ModelID                   320900 non-null  int64
 3   datasource                320900 non-null  int64
 4   auctioneerID              304844 non-null  float64
 5   YearMade                  320900 non-null  int64
 6   MachineHoursCurrentMeter  114082 non-null  float64
 7   UsageBand                 320900 non-null  category
 8   year                      320900 non-null  int32
 9   month                     320900 non-null  int32
 10  day                       320900 non-null  int32
 11  weekday                   320900 non-null  int32
 12  hour                      320900 non-null  int32
dtypes: category(1), float64(2), int32(5), int64(5)
memory usage: 26.0 MB

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
start_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

print(" התחלה:", start_time)
print()


model = RandomForestRegressor()
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

print('Train RMSE:', mean_squared_error(y_train, y_train_pred)**0.5)
print('Test RMSE:', mean_squared_error(y_test, y_test_pred)**0.5)

print()
end_time = time.time()
print(" סיום:", datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print()

# print(f"משך ריצה: {end_time - start_time:.0f} שניות")

 התחלה: 2025-08-30 22:58:24

Train RMSE: 3139.4147148782126
Test RMSE: 8433.199136521675

 סיום: 2025-08-30 23:04:41

## creat X_valid with the same columns as X.traun

In [ ]:
X_valid = df_valid[X_train.columns]

Predict SalePrice for the validation set (X_valid) using the trained model

In [ ]:
y_valid_pred = model.predict(X_valid)

Creat Data frame with two coloumns

In [ ]:
submission = pd.DataFrame({
    'SalesID': df_valid['SalesID'],
    'SalePrice': y_valid_pred
})

In [ ]:
submission.to_csv('submission_Y_1.csv', index=False)